# Entorno virtual
venv/
.ENV/
.env/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Archivos de logs
*.log

# Configuración de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpeta de compilación
build/
dist/
